body{
    background-color: rgb(255, 232, 236);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    padding: 20px;
    position: relative;
    z-index: 1;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
    color: black;
}
nav ul li a:hover{
    color: rgb(240, 97, 97);
}
.nav-button {
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
  }
  .nav-button:focus,
  .nav-button:active {
    border-bottom: 3px solid #000000; 
  }  
   
.home {
    padding: 30px; 
    margin: 40px;  
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.home-text { 
    color: rgb(0, 0, 0); 
    font-size: 20px; 
    text-align: left; 
    margin-right: 30px; 
}
.home-text p{
    color:rgb(223, 93, 93);
}
.home-image img {  
    height: 320px; 
    width: 320px; 
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(20, 6, 6)
}
.social-links {
    margin-bottom: 20px; 
}
.social-links a {
    margin: 0 10px; 
    color: inherit; 
    font-size: 24px; 
}
.social-links a:hover{
    color:rgb(189, 114, 114);
}
.home-button{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin-top: 20px; 
}
.explore-bttn{
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer; 
    border: none; 
    background-color: #aa5757; 
    color: white; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}
.explore-bttn:hover{
    background-color: rgb(231, 145, 145);
    color:rgb(0, 0, 0)
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-cover{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.about-line{
    border-bottom: 2px solid #e47a7a;
    width: 99%;
}
.about-intro{
    background-color: white;
    background-size: auto;
    display: block;
    justify-content: center;
    align-items: center;
}
.about-title{
    padding-top:10px ;
    padding-left: 240px;
    padding-bottom: 10px;
    justify-content: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.about-line1{
    border-bottom: 2px solid #e47a7a;
    margin-left: 20px;
    width: 13%;
}
.about-contents{
    display: flex;
    align-items: center;
 
}
.about-text{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 175px;
    padding-bottom: 20px;
    text-align: left;
    font-size: 20px;
    width: 40%
}
.about-pic{
    display: flex;
    padding-left: 50px;
}
.about-intro img{   
    width: 390px;
    height: 390px;
}
.about-intro p + img {
    text-align: center;
    margin-top: 10px;
}
.about-line2{
    border-bottom: 3px dashed #e47a7a;
    margin: 20px;
    margin-left: 73px;
    width: 90%;
}